<section id="intro">

  <div class="intro-overlay"></div>

  <div class="intro-content">
    <div class="row">

      <div class="col-twelve">

        <h5>Hello, World.</h5>
        <h1>It's Amr Mossad.</h1>

        <p class="intro-position">
         I'm <span id="typed"></span>
        </p>

        <a class="button stroke smoothscroll" routerLink="/about" title="">More About Me</a>

      </div>

    </div>
  </div> <!-- /intro-content -->

  <ul class="intro-social">
    <li><a href="https://www.facebook.com/amr.mossad.12979" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://github.com/AmrMossad93" target="_blank"><i class="fa fa-github"></i></a></li>
    <li><a href="https://twitter.com/AmrMossad8" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/amr-mossad-209976158/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/eng.amrmossad2/" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul> <!-- /intro-social -->

</section>
