<section id="about">

  <div class="row section-intro">
    <div class="col-twelve">

      <h5>About</h5>
      <h1>Let Me Introduce Myself.</h1>

      <div class="intro-info">

        <img src="assets/images/AmrMossad-lg.jpg" alt="Profile Picture">

        <p class="lead">
          Hi, I Am Looking For A Job In A National Or Multi-National Company To Enrich My Skills And Abilities, Or
          Perform
          Any Projects Or Tasks As A Front-End Developer.
          Also, I Am Working As A Freelance Front-End Web & Mobile Developer For Companies Or Websites.
        </p>
      </div>

    </div>
  </div> <!-- /section-intro -->

  <div class="row about-content">
    <div class="col-twelve tab-full">
      <h3>Profile</h3>
      <p>
        I'm <span id="typed_3"></span>
      </p>

      <div class="row">
        <div class="col-six">
          <ul class="info-list">
            <li>
              <strong>Full name: </strong>
              <span>Amr Mossad Saber</span>
            </li>
            <li>
              <strong>Birth Date:</strong>
              <span>April 12, 1993</span>
            </li>
            <li>
              <strong>Nationality:</strong>
              <span>Egyptian</span>
            </li>
            <li>
              <strong>Military Status:</strong>
              <span>Exempted</span>
            </li>
            <li>
              <strong>Marital Status:</strong>
              <span>Single</span>
            </li>
            <li>
              <strong>Email:</strong>
              <span>eng.amrmossad93@gmail.com</span>
            </li>


          </ul>
        </div>
        <div class="col-six">
          <ul class="info-list">
            <li>
              <strong>Phone:</strong>
              <span>(002) 0109-9049-044</span>
            </li>
            <li>
              <strong>Degree:</strong>
              <span>Bachelor Of Information System</span>
            </li>
            <li>
              <strong>FaceBook:</strong>
              <span>@amr.mossad.12979</span>
            </li>
            <li>
              <strong>Twitter:</strong>
              <span>@AmrMossad8</span>
            </li>
            <li>
              <strong>Instagram:</strong>
              <span>@eng.amrmossad2</span>
            </li>
            <li>
              <strong>GitHub:</strong>
              <span>@AmrMossad93</span>
            </li>


          </ul>
        </div>
      </div>
      <!-- /info-list -->

    </div>

    <div class="col-twelve tab-full">

      <h3>Skills</h3>
      <p>
        I'm <span id="typed_2"></span>
      </p>

      <ul class="skill-bars">
        <li>
          <div class="progress percent95"><span>95%</span></div>
          <strong>
            HTML5 & CSS3
          </strong>
        </li>
        <li>
          <div class="progress percent80"><span>80%</span></div>
          <strong>
            SASS
          </strong>
        </li>
        <li>
          <div class="progress percent95"><span>95%</span></div>
          <strong>
            BOOTSTRAP
          </strong>
        </li>
        <li>
          <div class="progress percent95"><span>90%</span></div>
          <strong>
            Adobe XD
          </strong>
        </li>
        <li>
          <div class="progress percent85"><span>85%</span></div>
          <strong>
            IONIC
          </strong>
        </li>
        <li>
          <div class="progress percent90"><span>90%</span></div>
          <strong>
            ANGULAR
          </strong>
        </li>
        <li>
          <div class="progress percent95"><span>95%</span></div>
          <strong>
            TYPESCRIPT
          </strong>
        </li>
        <li>
          <div class="progress percent85"><span>85%</span></div>
          <strong>
            EcmaScript
          </strong>
        </li>
        <li>
          <div class="progress percent80"><span>80%</span></div>
          <strong>
            JAVASCRIPT
          </strong>
        </li>
        <li>
          <div class="progress percent70"><span>70%</span></div>
          <strong>
            JQUERY
          </strong>
        </li>
        <li>
          <div class="progress percent75"><span>75%</span></div>
          <strong>
            NODEJS
          </strong>
        </li>
        <li>
          <div class="progress percent70"><span>70%</span></div>
          <strong>
            EXPRESSJS
          </strong>
        </li>
        <li>
          <div class="progress percent80"><span>80%</span></div>
          <strong>
            MONGODB
          </strong>
        </li>
        <li>
          <div class="progress percent95"><span>95%</span></div>
          <strong>
            SQL SERVER
          </strong>
        </li>
        <li>
          <div class="progress percent85"><span>85%</span></div>
          <strong>
            ASP.NET
          </strong>
        </li>
        <li>
          <div class="progress percent90"><span>90%</span></div>
          <strong>
            MVC
          </strong>
        </li>
        <li>
          <div class="progress percent90"><span>90%</span></div>
          <strong>
            C#
          </strong>
        </li>
        <li>
          <div class="progress percent80"><span>80%</span></div>
          <strong>
            ENTITY FRAMEWORK
          </strong>
        </li>
        <li>
          <div class="progress percent85"><span>85%</span></div>
          <strong>
            Web API
          </strong>
        </li>
        <li>
          <div class="progress percent70"><span>70%</span></div>
          <strong>
            GIT
          </strong>
        </li>


      </ul> <!-- /skill-bars -->

    </div>

  </div>

  <div class="row button-section">
    <div class="col-twelve">
      <a href="tel:(002) 01099049044" title="Call Me" class="button stroke smoothscroll">Call Me</a>
      <a href="assets/CV/Software%20Engineer%20Amr%20Mossad%20CV.pdf" download
         class="button button-primary">Download CV</a>
    </div>
  </div>
</section>
