<section id="portfolio">

  <div class="row section-intro">
    <div class="col-twelve">

      <h5>Portfolio</h5>
      <h1>Check Out Some of My Projects.</h1>

      <p class="lead">
        I Worked In Creation Of The Projects Indicated Below Where I Used The latest Technologies In Time In Companies
        Or FreeLancing
      </p>

    </div>
  </div> <!-- /section-intro-->

  <div class="row portfolio-content">

    <div class="col-twelve">

      <!-- portfolio-wrapper -->
      <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/MASA Project.png" alt="Liberty">
            <a href="#masaDevelopment" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">M.A.S.A. Development</h3>
                  <span class="folio-types">
		     					       	 FREELANCE
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /masaDevelopment-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/UpStricke.png" alt="UpStricke">
            <a href="#UpStricke" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Digital Upstricke</h3>
                  <span class="folio-types">
		     					  EMD4IT
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /UpStricke-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/ESA.jpg" alt="ESA">
            <a href="#ESA" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">SYNDICATE OF ARTIST'S</h3>
                  <span class="folio-types">
		     					       	 IAIAUTO GROUP
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /ESA-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/PUBG.jpg" alt="Salad">
            <a href="#PUBG" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">PUBG</h3>
                  <span class="folio-types">
		     					       	  HTML5 , CSS3 & JavaScript Tricks
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /PUBG-item -->


        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/EMD4IT.png" alt="EMD4IT">
            <a href="#EMD4IT" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">EMD4IT Official WebSite</h3>
                  <span class="folio-types">
		     					       	 EMD4IT
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /EMD4IT-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/Template !.png" alt="Salad">
            <a href="#Agency" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Agency Template</h3>
                  <span class="folio-types">
		     					       	  For Sale
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /Agency-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/Clock.png" alt="Salad">
            <a href="#Clock" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Clock</h3>
                  <span class="folio-types">
		     					       	  HTML5 , CSS3 & JavaScript Tricks
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /Clock-item -->


        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/Joker.png" alt="Salad">
            <a href="#Movie" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Movie Template</h3>
                  <span class="folio-types">
		     					       	  For Sale
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /Movie-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/School.png" alt="Salad">
            <a href="#School" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">School Template</h3>
                  <span class="folio-types">
		     					       	  For Sale
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /School-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/school-managment.png" alt="Salad">
            <a href="#SchoolMangment" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">School Management</h3>
                  <span class="folio-types">
		     					       	  2M TECHNOLOGY
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /SchoolMangment-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/Cofee.jpg" alt="Salad">
            <a href="#Coffee" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Coffee Shop Template</h3>
                  <span class="folio-types">
		     					       	  For Sale
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /Coffee-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/wordpress-insurance-themes.jpg" alt="Insurance">
            <a href="#Insurance" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Insurance</h3>
                  <span class="folio-types">
		     					       	  D.M.S. EGYPT
		     					      </span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /Insurance-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/Calculator.png" alt="Salad">
            <a href="#Calculator" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Calculator</h3>
                  <span class="folio-types">
		     					       	  HTML5 , CSS3 & JavaScript Tricks
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /Calculator-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/Glowing-Light-Custom-Checkbox.png" alt="Salad">
            <a href="#CheckBox" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">CheckBox</h3>
                  <span class="folio-types">
		     					       	  HTML5 , CSS3 & JavaScript Tricks
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /CheckBox-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/Scroll-Progress-Bar.png" alt="Salad">
            <a href="#Scroll" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">Scroll Bar</h3>
                  <span class="folio-types">
		     					       	  HTML5 , CSS3 & JavaScript Tricks
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /Scroll-item -->

        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img src="assets/images/Projects/convex-1024x679.jpg" alt="Salad">
            <a href="#HR" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">HR</h3>
                  <span class="folio-types">
		     					       	  2M TECHNOLOGY
		     					</span>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- /HR-item -->

        <!-- modal popups - begin
        ============================================================= -->
        <div id="masaDevelopment" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/MASA Project.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>M.A.S.A. Development</h4>
            <p>Its A Public Site Was Made By Using HTML5 , SASS , FontAwesome And Some Animation Tricks</p>

            <div class="categories">FREELANCE</div>
          </div>

          <div class="link-box">
            <a href="https://wwwmasadevelopmentcom.000webhostapp.com/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /masaDevelopment -->

        <div id="UpStricke" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/UpStricke.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>Digital Upstricke</h4>
            <p>It Was Performance Analysis For Players & I was Customizing The JSON Result To Make The CRUD Operations,
              Which Come To Me From The Back End Developer To Design It In The UI By Using Angular 8, TypeScript ,
              HTML5, CSS3 , ES6 , Bootstrap 4 ,Fontawsome etc...</p>

            <div class="categories">EMD4IT</div>
          </div>

          <div class="link-box">
            <a href="http://upstricke.com/" target="_blank">Have a Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /UpStricke -->

        <div id="ESA" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/ESA.jpg" alt=""/>
          </div>

          <div class="description-box">
            <h4>SYNDICATE OF ARTIST'S</h4>
            <p>
              It Was A Social Website For Artists & I was Customizing The JSON Result To Make The CRUD Operations, Which
              Come To Me From The Back End Developer To Design It In The UI By Using Angular 7 , TypeScript , HTML5,
              CSS3 , ES6 , Bootstrap 4 , Fontawsome etc...
            </p>

            <div class="categories">IAIAUTO GROUP</div>
          </div>

          <div class="link-box">
            <a href="http://egyartists.com/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /ESA -->

        <div id="Insurance" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/wordpress-insurance-themes.jpg" alt=""/>
          </div>

          <div class="description-box">
            <h4>Insurance</h4>
            <p>
              It Was A Insurance Application & I was Customizing The JSON Result To Make The CRUD Operations, Which Come
              To Me From The Back End Developer To Design It In The UI By Using Angular 4 , TypeScript , HTML5, CSS3 ,
              ES6 , Bootstrap 4 , Fontawsome etc...
            </p>

            <div class="categories">D.M.S. EGYPT</div>
          </div>

          <div class="link-box">
            <a href="#" onclick="return false;">Not Finished Yet</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /Insurance -->

        <div id="EMD4IT" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/EMD4IT.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>EMD4IT Official WebSite</h4>
            <p>Its A Public Site Was Made By Using Angular 9 , TypeScript , HTML5 , CSS3 , FontAwesome , Bootstrap 4 And
              PrimeNg</p>

            <div class="categories">EMD4IT</div>
          </div>

          <div class="link-box">
            <a href="http://emd4it.com/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /EMD4IT -->

        <div id="Agency" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/Template !.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>Agency Template</h4>
            <p>Its A Static WebSite And It Was Made by Using HTML5 , CSS3 , Bootstrap 4, FontAwesome And Some
              Animations.</p>

            <div class="categories">For Sale</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/templateOne/" target="_blank">Details</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /Agency -->

        <div id="HR" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/convex-1024x679.jpg" alt=""/>
          </div>

          <div class="description-box">
            <h4>HR</h4>
            <p>It Was A HR Application & I Was Making The API's Using ASP.Net Web API , SQL Server And Making The
              Reports By Using DevExpress And Creating The Stored Procedure's .</p>

            <div class="categories">2M TECHNOLOGY</div>
          </div>

          <div class="link-box">
            <a href="#" onclick="return false;">Not Finished Yet</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /HR -->

        <div id="Movie" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/Joker.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>Movie Template</h4>
            <p>Its A Static WebSite And It Was Made by Using HTML5 , CSS3 , JavaScript And Some Animations.</p>

            <div class="categories">For Sale</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/Joker-Website/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /Movie -->

        <div id="School" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/School.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>School Template</h4>
            <p>Its A Static WebSite And It Was Made by Using HTML5 , CSS3 , Bootstrap 3, FontAwesome And Some
              Animations.</p>

            <div class="categories">For Sale</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/SchoolTemplate/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /School -->

        <div id="SchoolMangment" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/school-managment.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>School Management</h4>
            <p>It Was A School Management Application & It Was WebForm Application , I Was Making The Reports By Using
              DevExpress And Creating The Stored Procedure's .</p>

            <div class="categories">2M TECHNOLOGY</div>
          </div>

          <div class="link-box">
            <a href="#" onclick="return false;">Not Finished Yet</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /SchoolMangment -->

        <div id="Coffee" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/Cofee.jpg" alt=""/>
          </div>

          <div class="description-box">
            <h4>Coffee Shop Template</h4>
            <p>Its A Static Mobile First WebSite And It Was Made by Using HTML5 , CSS3 And Some Animations.</p>

            <div class="categories">For Sale</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/CofeeShop/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /Coffee -->

        <div id="Clock" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/Clock.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>Clock</h4>
            <p>CSS 3D Working Analog Clock UI Design Using Html5 CSS3 & Javascript</p>

            <div class="categories">HTML5 , CSS3 & JavaScript Tricks</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/clockTricks/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /Clock -->

        <div id="PUBG" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/PUBG.jpg" alt=""/>
          </div>

          <div class="description-box">
            <h4>PUBG</h4>
            <p>PUBG Fun With Bullet Sound Using HTML5 CSS3 And Vanilla Javascript</p>

            <div class="categories">HTML5 , CSS3 & JavaScript Tricks</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/pubgTricks/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /PUBG -->

        <div id="Calculator" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/Calculator.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>Calculator</h4>
            <p>Calculator Using Html5 CSS3 & JavaScript</p>

            <div class="categories">HTML5 , CSS3 & JavaScript Tricks</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/calcuatorTricks/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /Calculator -->

        <div id="CheckBox" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/Glowing-Light-Custom-Checkbox.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>CheckBox</h4>
            <p>Glowing Light Custom Checkbox Using HTML5 CSS3 And Some Animations</p>

            <div class="categories">HTML5 , CSS3 & JavaScript Tricks</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/Glowing-Light-Custom-Checkbox/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /CheckBox -->

        <div id="Scroll" class="popup-modal slider mfp-hide">

          <div class="media">
            <img src="assets/images/Projects/Scroll-Progress-Bar.png" alt=""/>
          </div>

          <div class="description-box">
            <h4>Scroll Bar</h4>
            <p>Creative Page Scroll Progress Bar Using HTML5 CSS3 & Vanilla Javascript</p>

            <div class="categories">HTML5 , CSS3 & JavaScript Tricks</div>
          </div>

          <div class="link-box">
            <a href="https://amrmossad93.github.io/Scroll-Bar/" target="_blank">Have A Look</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>

        </div> <!-- /Scroll -->


        <!-- modal popups - end
           ============================================================= -->

      </div> <!-- /portfolio-wrapper -->

    </div>  <!-- /twelve -->

  </div> <!-- /portfolio-content -->

</section>
