<section id="resume" class="grey-section">

  <div class="row section-intro">
    <div class="col-twelve">

      <h5>Resume</h5>
      <h1>More Of My Credentials.</h1>

      <p class="lead">
        Pleased To Introduce Myself As A Software Engineer, Holding Diplomas In Different Software Courses And Having A
        Practical Experience In The Field Of Development.
      </p>

    </div>
  </div> <!-- /section-intro-->
  <div class="row resume-timeline">

    <div class="col-twelve resume-header">

      <h2>Work Experience</h2>

    </div> <!-- /resume-header -->

    <div class="col-twelve">

      <div class="timeline-wrap">

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-briefcase"></i>
          </div>

          <div class="timeline-header">
            <h3>Front-End Web And Mobile Developer</h3>
            <p>January 2020 - Present</p>
          </div>

          <div class="timeline-content">
            <h4>EMD4IT</h4>
            <p>
              I Am A Part-Time Developer . My Job Is To Customize The JSON Result To Make The CRUD Operations, Which
              Come
              To Me From
              The Back-End Developer To Design It In The UI By Using Angular 9 , TypeScript , HTML5, CSS3 , ES6
              etc... For Websites , IONIC 5 For Mobile Applications & Adobe XD For UI/UX & Creating ProtoTypes .
            </p>
          </div>

        </div> <!-- /timeline-block -->

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-briefcase"></i>
          </div>

          <div class="timeline-header">
            <h3>Front-End Web Developer</h3>
            <p>March 2019 - Present</p>
          </div>

          <div class="timeline-content">
            <h4>IAIAUTO (EL MOURAD GROUP)</h4>
            <p>
              Customizing The JSON Result To Make The CRUD Operations, Which Come To Me From The Back-End Developer To
              Design It In The UI By Using Angular 7 , TypeScript , HTML5, CSS3 , ES6 , Bootstrap 4 , Fontawsome etc...
              & I Made With My Team Egyptian Syndicate Of Artist's Website.
            </p>
          </div>

        </div> <!-- /timeline-block -->

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-briefcase"></i>
          </div>

          <div class="timeline-header">
            <h3>Front-End Web Developer</h3>
            <p>December 2018 - February 2019</p>
          </div>

          <div class="timeline-content">
            <h4>D.M.S. Egypt</h4>
            <p>Customizing The JSON Result To Make The CRUD Operations, Which Come To Me From The Back-End Developer To
              Design It In The UI By Using Angular 4 , TypeScript , HTML5, CSS3 , ES6 etc... & I Made With My Team
              Insurance Website.</p>
          </div>

        </div> <!-- /timeline-block -->

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-briefcase"></i>
          </div>

          <div class="timeline-header">
            <h3>Full-Stack Developer</h3>
            <p>January 2018 - November 2018</p>
          </div>

          <div class="timeline-content">
            <h4>2M TECHNOLOGY</h4>
            <p>I Worked For 3 Months As A Back-End Developer At School Management Project By Using Web Form & SQL
              Server, Then I Started HR Management Project As A Front-End Developer By Using Angular 4 , TypeScript ,
              HTML5, CSS3 , ES6 etc... , Then Started ERP Management Project For 7 Months</p>
          </div>

        </div>
      </div> <!-- /timeline-wrap -->

    </div> <!-- /col-twelve -->

  </div> <!-- /resume-timeline -->

  <div class="row resume-timeline">

    <div class="col-twelve resume-header">


      <h2>Education</h2>

    </div> <!-- /resume-header -->

    <div class="col-twelve">

      <div class="timeline-wrap">

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-graduation-cap"></i>
          </div>

          <div class="timeline-header">
            <h3>Software Engineer</h3>
            <p>July 2017</p>
          </div>

          <div class="timeline-content">
            <h4>Higher Institute of Developed Studies - Management Information Systems </h4>
            <p>
              General Estimate : Good. Project Estimate: Excellent (It is About Web Application By ASP.NET With
              Technology Of Entity Framework 6 by C#, Where SQL Server "Structure Query Language" Is Used To Create The
              Database. Simply, It Is Hotel Room Reservation System)
            </p>
          </div>

        </div> <!-- /timeline-block -->

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-graduation-cap"></i>
          </div>

          <div class="timeline-header">
            <h3>Primary & Secondary Education</h3>
            <p>October 2001 - June 2011</p>
          </div>

          <div class="timeline-content">
            <h4>La Rose De Lisieux Language School</h4>
            <p>
              In This Language School, I Started To Study From Primary 3 Till 3rd Secondary Education Where I Studied
              All School Subjects In English, Except Arabic Language, Social Studies And Religion Which Are Studied In
              Arabic
            </p>
          </div>

        </div> <!-- /timeline-block -->

        <div class="timeline-block">

          <div class="timeline-ico">
            <i class="fa fa-graduation-cap"></i>
          </div>

          <div class="timeline-header">
            <h3>Primary Education</h3>
            <p>October 1999 - June 2001</p>
          </div>

          <div class="timeline-content">
            <h4>Rahima International Language Academy</h4>
            <p>
              This Is Multi-National School Where I Studied Primary 1 & 2 With American Teaching Staff.
            </p>
          </div>

        </div> <!-- /timeline-block -->

      </div> <!-- /timeline-wrap -->

    </div> <!-- /col-twelve -->

  </div> <!-- /resume-timeline -->


</section> <!-- /features -->
<section id="services">
  <div class="overlay"></div>
  <div class="row section-intro">
    <div class="col-twelve">
      <h5>Certificates</h5>
      <h1>Really Proud Of Them</h1>
    </div>
  </div> <!-- /section-intro -->

  <div class="row services-content">

    <div id="owl-slider" class="owl-carousel services-list">

      <div class="service">
        <div class="service-content">
          <h3>CAMBRIDGE TRAINING COLLEGE BRITAIN</h3>
        </div>

      </div> <!-- /service -->

      <div class="service">
        <div class="service-content">
          <h3>MICROSOFT WEB DEVELOPMENT DIPLOMA</h3>
        </div>

      </div> <!-- /service -->
      <div class="service">
        <div class="service-content">
          <h3>APP BUILDER SOLUTIONS DEVELOPER</h3>
        </div>

      </div> <!-- /service -->

      <div class="service">
        <div class="service-content">
          <h3>PROGRAMMING IN HTML5 WITH JAVASCRIPT AND CSS3</h3>
        </div>

      </div> <!-- /service -->

      <div class="service">
        <div class="service-content">
          <h3>DEVELOPING ASP.NET MVC 4 WEB APPLICATION</h3>
        </div>

      </div> <!-- /service -->

      <div class="service">
        <div class="service-content">
          <h3>DEVELOPING WINDOWS AZURE AND WEB SERVICES</h3>
        </div>
      </div>

      <div class="service">
        <div class="service-content">
          <h3>MEAN STACK & IONIC</h3>
        </div>

      </div> <!-- /service -->

    </div> <!-- /services-list -->

  </div> <!-- /services-content -->

</section>
